<h2>Trainings:</h2>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Days</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let training of trainings">
      <td>{{training.id}}</td>
      <td>{{training.name}}</td>
      <td>{{training.trainingStartDate | date }}</td>
      <td>{{training.trainingEndDate | date }}</td>
      <td>{{training.days  }}</td>
    </tr>
  </tbody>
</table>
<a routerLink="/training/create">New</a>
