<h2>Create Training</h2>
<form id="TrainingCreateForm">
  <div class="form-group">
    <p>
      Name: <input matInput placeholder="Name" type="text" class="form-control" type="text" [formControl]="name" name="name"
                   id="name" />
    </p>
    <!--<p>
      <input [matDatepicker]="myDatepicker">
      <mat-datepicker #myDatepicker></mat-datepicker>
    </p>-->
    
    <button (click)="create()" id="trainingCreate" color="primary" type="button" class="btn" [disabled]="!name.value">
      Create
    </button>
  </div>
</form>
